.textStyle{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.logo{
    z-index: -2;
    width: 100%;
    display: flex;
    justify-content: center;
}
   
.box{
    display: flex;
    justify-content: center;
}

.form{
    z-index: 2;
    background-color: #ffffff;
    border: 1px black;
    width:600px;
    align-items: center;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}
   
.textBox1{
    margin-top: 15px;
    margin-left: 20px;
}
   
.textBox2{
    margin-top: 30px;
    margin-left: 20px;
}
   
.InputBox{
   width: 555px;
   height: 40px;  
   background: #FFFFFF;
   border: 1px solid rgba(0, 0, 0, 0.1);
   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}
   
.textbox{
    border: 1px solid #848484;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    outline:0;
    height:20px;
    width: 150px;
}
   
.linkA{
   text-decoration: none;       
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 18px;
   line-height: 19px;
   text-decoration-line: underline;
   color: rgba(0, 0, 0, 0.4);
   padding-right: 10px;
}

.LinkAndButton{
    margin-top: 40px;
    margin-left: 230px;
    padding-bottom: 20px;
}

.LOGIN{
    width: 175px;
    height: 30px;
    font-family: 'Inter';
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.point1{
    z-index: 1;
    position: absolute;
    width: 530px;
    height: 530px;
    left: 5px;
    top: -100px;
    background: linear-gradient(180deg, rgba(76, 209, 227, 0.7) 0%, #6370E6 80.21%, #6370E6 100%);
    filter: blur(135px);
}

.point2{
    z-index: 1;
    position: absolute;
    width: 530px;
    height: 530px;
    bottom: 0px;
    right: 0;
    display: flex;
    justify-content: right;
    background: linear-gradient(180deg, rgba(76, 209, 227, 0.7) 0%, #6370E6 80.21%, #6370E6 100%);
    filter: blur(135px);
}

